Client/web/WEB-INF/wsdl/localhost_8080/AuthServer/AuthServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://newpackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://newpackage/" name="AuthServer">
<types>
<xsd:schema>
<xsd:import namespace="http://newpackage/" schemaLocation="http://localhost:8080/AuthServer/AuthServer?xsd=1"/>
</xsd:schema>
</types>
<message name="addID">
<part name="parameters" element="tns:addID"/>
</message>
<message name="addIDResponse">
<part name="parameters" element="tns:addIDResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="AuthServer">
<operation name="addID">
<input wsam:Action="http://newpackage/AuthServer/addIDRequest" message="tns:addID"/>
<output wsam:Action="http://newpackage/AuthServer/addIDResponse" message="tns:addIDResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://newpackage/AuthServer/addID/Fault/IOException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://newpackage/AuthServer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://newpackage/AuthServer/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="AuthServerPortBinding" type="tns:AuthServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AuthServer">
<port name="AuthServerPort" binding="tns:AuthServerPortBinding">
<soap:address location="http://localhost:8080/AuthServer/AuthServer"/>
</port>
</service>
</definitions>